.carousel-item img {

    height: 570px;
    color: rgb(110, 110, 110);

}

.carousel-item h1 {
    font-size: 100px;
    color: rgb(245, 239, 239);

}

.text-center {
    margin-top: 100px;
}

.card {
    display: flex;
}